.acordeonPreguntas{
    background-color:burlywood;
}

.fondoAcordeon{
    background-color: burlywood;
    margin:20px;
    padding-top: 10px;
}
.btn-preguntas{
    background-color: blanchedalmond;
    margin-bottom: 20px;
}
.contenedor-acordeon{
    margin:20px;
}
